body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #206A5D;
    color: white;
    font-size: 7em;
    height: 200px;
    font-weight: 700;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: row;
    
}

#products-section {
    width: 70vw;
    background-color: #FFCC29;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
}

#cart-section {
    width: 30vw;
    min-width: 350;
    background-color: #CA9E13;
}

.frutas {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -35px;
    width: 200px;
    height: 330px;
}

.imagen{
    width: 100%;
    margin: 0;
}

.nombre{
    background-color: #81B214;
    margin-top: -4px;
    padding: 5px;
}

.precio{
    margin-left: 10px;
}

.añadir{
    margin-top: 13px;
    height: 30px;
    margin-right: 10px;
}

.precioañadir{
    display: flex;
    justify-content: space-between;
    background-color: #F58634;
    margin: 0;
    margin-bottom: 15px;
    margin-top: -16px;
    color: white;
}

.paginacion {
    display: flex;
    justify-content: center;
    margin-left: 500px;
    font-weight: bold;
    color: white;
}

.paginacion button {
    margin: 0 15px;
    background-color: #f0f0f0;
    border: 2px solid #575757;
    cursor: pointer;
    border-radius: 5px;
}

.paginacion button:hover {
    background-color: #e0e0e0;
}

.cart-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.cart-table th,
.cart-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.cart-table th {
    background-color: #fff;
}

.cart-table td {
    background-color: #f9f9f9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.contenido {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 500px;
    position: relative;
    text-align: center;
}

.cerrar {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cantidad {
    margin-top: 20px;
    padding: 10px;
}

.añadir_carrito {
    margin-top: 20px; 
    display: block;
    padding: 10px;
    margin-left: 150px;
    width: 40%;
}

#nombre_producto{
    font-size: 40px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bold;
}

.eliminar-icono {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  